@import url(//font.elice.io/EliceDigitalBaeum.css);

html, body {
    font-family: "Elice Digital Baeum",sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* 상단 메뉴 */
nav ul li a{
    text-decoration: none;

    display: block;
    padding-left: 10px;

    background-color: violet;
    width: 100%;
    height: 35px;

    font-weight: bold;
    font-size: 20px;
    color: aliceblue;

    line-height: 32px;
}
.nav1{
    /* background-color: rgb(164, 164, 255); */
    background-color: rgb(140, 140, 255);
}
.nav2{
    background-color: rgb(128, 128, 255);
}
.nav3{
    background-color: rgb(140, 140, 255);
}
.nav4{
    background-color: rgb(128, 128, 255);
}
.nav5{
    background-color: rgb(140, 140, 255);
}
.nav6{
    background-color: rgb(128, 128, 255);;
}

/* 메인 */
main{
    margin-left: 20px;
}
#information h2{
    margin: 30px 0 10px 0;
    font-size: 35px;
}
.infor{
    display: inline-block;
    margin-left: 20px;
}
.infor p{
    margin-top: 3px;
    
}

#goal{
    margin: 30px 0;
}